@model IEnumerable<BugTrackerWebApp.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Project Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SubmitterId)*@
               Submitter 
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AssignedDeveloperUserName)*@
                Assigned Developer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Date_Created)*@
                Date Created
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Date_Updated)*@
                Date Updated
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitterUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedDeveloperUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Updated)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
