@model BugTrackerWebApp.Models.Project

@{
    ViewData["Title"] = "Details";
}

<section>
    <h1>Details</h1>
    <h4>Project: @Html.DisplayFor(model => model.Name)</h4>
    <b>Owner: </b>@Html.DisplayFor(model => model.Owner.UserName)
    <div class="form-group">
        <label asp-for="Description" class="control-label">
            <b>Description: </b>
        </label>
        <textarea readonly asp-for="Description" class="form-control" style="height: 200px; min-width: 900px"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedWhen" class="control-label"><b>Date Created</b></label>
        <input readonly asp-for="CreatedWhen" class="form-control" style="width: 210px"/>
        <span asp-validation-for="CreatedWhen" class="text-danger"></span>
    </div>
</section>
<div>
     <table class="table">
    <thead>
        <tr>
                <th class="col-sm-9">
                Ticket Name
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td class="col-sm-9">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> 
                <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm">Details</a> 
                <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger btn-sm">Delete</a>
            </td>
            </tr>

        }
    </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> 
    <a asp-action="Create" asp-controller="UserProject" class="btn btn-primary">Add User to Project</a> 
    <a asp-action="Create" asp-controller="Tickets" class="btn btn-primary">Create New Ticket</a> 
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
