@model BugTrackerWebApp.Models.TicketHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket_History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousAssignedDeveloper.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousAssignedDeveloper.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewAssignedDeveloper.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewAssignedDeveloper.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedWhen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedWhen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updater.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updater.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
