@model BugTrackerWebApp.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create" asp-controller="Tickets">Create New Ticket</a>
</p>

<div>
    <h4>Project</h4>
    <hr />
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        </tr>
    </tbody>
    </table>
     <table class="table">
    <thead>
        <tr>
            <th>
                Tickets
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                <a asp-controller = "Tickets" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller = "Tickets" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller = "Tickets" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            </tr>

        }
    </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Create" asp-controller="User_Project">Add User to Project</a> |
    <a asp-action="Index">Back to List</a>
</div>
