@model BugTrackerWebApp.Models.Ticket_History

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket_History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedDeveloperUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedDeveloperUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OldValueUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OldValueUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewValueUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewValueUserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Changed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Changed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketUpdaterUserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketUpdaterUserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
